<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body> 
  <div class="container">
  <form action="/login" method="post">
    <label for="log">Login</label>
    <input type="text" id="log" name="login">
    <br>
    <label for="pass">Password</label>
    <input type="password" id="pass" name="password">
    <br>
    <button type="submit" name="button" id="submit">Log In</button>
  </form>
  </div>
</body>
</html>
