<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Notes</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div class="container">
    <p><%=note%></p>
    <button onClick='func()'>


  </div>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script>
  var func = function(){
              $.ajax({
                  url: './../../../app/routes/note_routes.js',
                  data: 'data',
                  method: 'POST',
                  dataType: 'json',
                  success: function(data){
                      console.log(data);
                  }
              });
  </script>
</body>
</html>
