*{
  padding: 0;
  margin: 0;
}
#login, #login3{
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
body{
  background-color: #999;
}
form{
  width: 300px;
  background-color: #777;
  text-align: center;
}
#log, #reg{
  margin-top: 20px;
  padding: 3px 10px;
  margin-bottom: 20px;
}
#password4{
  margin-top: 20px;
}
#regisForm{
  float: right;
}
#loginForm{
  float: left;
}
